.button {
    outline: none;
    font-weight: 600;
    border: 0;
    user-select: none;
    appearance: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition-duration: 250ms;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    font-size: 0.875rem;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background: rgb(193, 17, 25);
}