.input-wrapper {
    position: relative;
    text-align: left;
}

.input {
    width: 100%;
    transition: color 250ms cubic-bezier(0.5, 0, 0.1, 1) 0s;
    width: 100%;
    color: rgb(255, 255, 255);
    line-height: 1.5rem;
    padding: 1.5rem 1rem 0.5rem;
    min-height: 16px;
    min-width: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.25rem;
    background: rgba(22, 22, 22, 0.7);
    border-color: rgba(128, 128, 128, 0.7);
}


.input__label {
    position: absolute;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-property: top, font-size, line-height;
    transition-duration: 250ms;
    pointer-events: none;
    font-size: 1rem;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5rem;
    left: 1rem;
    right: 1rem;
    top: 1rem;
}

.input__focus__outline:focus {
    outline: rgb(255, 255, 255) solid 0.125rem;
    outline-offset: 0.125rem;
}


.input:focus + .input__label,
.input:not(:placeholder-shown) + .input__label {
    font-size: 0.75rem;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    line-height: 1.125rem;
    top: 0.5rem;
}