.nav {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black {
    background-color: #000000;
}

.nav__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: calc(100% - 3rem);
}

.nav__logo {
    width: 148px;
    height: 40px;
}

.nav__avatar {
    height: 50px;
}

.signIn__button {
    outline: none;
    font-weight: 600;
    border: 0;
    user-select: none;
    appearance: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition-duration: 250ms;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    font-size: 0.875rem;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
}

.signIn__button:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background: rgb(193, 17, 25);
}

@media screen and (max-width: 959.98px) {
    .nav__contents {
        height: 5rem;
    }
}


@media screen and (min-width: 600px) {
    .nav__contents {
        max-width: calc(100% - 4rem);
    }
}

@media screen and (min-width: 960px) {
    .nav__contents {
        height: 5.375rem;
        max-width: calc(100% - 4rem);
    }
}

@media screen and (min-width: 1280px) {
    .nav__contents {
        max-width: calc(var(--nav-total-width) - 6rem);
    }
}